<div id="card-holder">
    <div class="card">
        <div class="heading">FastFood</div>
        <ul class="sub-actions">
            <li>Tahsilat</li>
            <li>Ödeme/Masraf</li>
            <li>Transfer/Avans</li>
            <li>Kasa Durumu</li>
        </ul>
    </div>
    <div class="card">
        <div class="heading">FastFood</div>
        <ul class="sub-actions">
            <li>Tahsilat</li>
            <li>Ödeme/Masraf</li>
            <li>Transfer/Avans</li>
            <li>Kasa Durumu</li>
        </ul>
    </div>
    <div class="card">
        <div class="heading">FastFood</div>
        <ul class="sub-actions">
            <li>Tahsilat</li>
            <li>Ödeme/Masraf</li>
            <li>Transfer/Avans</li>
            <li>Kasa Durumu</li>
        </ul>
    </div>
    <div class="card">
        <div class="heading">FastFood</div>
        <ul class="sub-actions">
            <li>Tahsilat</li>
            <li>Ödeme/Masraf</li>
            <li>Transfer/Avans</li>
            <li>Kasa Durumu</li>
        </ul>
    </div>


</div>