<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.date-format.js"></script>
    <script type="text/javascript" src="js/control-box.js"></script>
    <title>Aqua - 0.0.1</title>
</head>
<body>
    <div class="left-pane">
        <span id="clock">--:--</span>
        <p id="date">-- ---- ---- ----</p>
        <img id="logo" src="img/logo.png" />
    </div>
    <div class="right-pane">
        <ul id="nav-bar">
            <li id="reports-nav-item"><i></i></li>
            <li id="settings-nav-item"><i></i></li>
        </ul>
        <div id="content">
        </div>
        <script type="text/javascript">
            $().ready(function () {
                $.get("inc/cards.html", function (data) {
                    $("div#content").html(data);
                });
            });
        </script>
    </div>
    <div class="control-box">
        <i id="help"></i>
        <i id="minimize"></i>
        <i id="max-normalize"></i>
        <i id="close"></i>
    </div>

    <div class="thumb caption"></div>
    <div class="thumb left-thumb" data-dir="0"></div>
    <div class="thumb right-thumb" data-dir="1"></div>
    <div class="thumb top-thumb" data-dir="2"></div>
    <div class="thumb bottom-thumb" data-dir="3"></div>
    <div class="thumb top-left-thumb" data-dir="4"></div>
    <div class="thumb bottom-left-thumb" data-dir="5"></div>
    <div class="thumb top-right-thumb" data-dir="6"></div>
    <div class="thumb bottom-right-thumb" data-dir="7"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("body").on("click", "#clock", function (e) {
                windowsApp.showDevTools();
            });

            var wasOn = false;

            setInterval(function () {
                var now = new Date().getTime();
                $("#date").html($.format.date(now, "dd MMMM yyyy ddd"));

                var clockPattern = "HH:mm";

                if (wasOn)
                    clockPattern = "HH mm";

                $("#clock").html($.format.date(now, clockPattern));

                wasOn = !wasOn;
            }, 1000);

            $("div.thumb").not("div.caption").on("mousedown", function (e) {
                e.preventDefault();
                var direction = parseInt($(this).data("dir"));
                windowsApp.resizeWindow(direction);
            });

            var clicks = 0, delay = 400;

            $("div.caption").on('mousedown', function (event) {
                event.preventDefault();
                clicks++;
                setTimeout(function () {
                    clicks = 0;
                }, delay);
                if (clicks === 2) {
                    var result = windowsApp.toggleWindow();
                    if (result == true)
                        $("div.maximize").addClass("restore");
                    else
                        $("div.maximize").removeClass("restore");
                    clicks = 0;
                    return;
                } else {
                    windowsApp.dragWindow();
                }
            });
        });
    </script>
</body>
</html>