@font-face {
    font-family: Myriad;
    src: url('../fonts/Myriad Pro Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Myriad;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    overflow: hidden;
}

div { display: block; }

.left-pane {
    background-color: #ee9b00;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50px;
}

#clock {
    font-size: 56px;
    font-weight: 500;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    left: 0;
    font-stretch: normal;
}

#date {
    font-size: 28px;
    font-weight: 500;
    display: block;
    position: absolute;
    width: 80%;
    text-align: center;
    margin: 0;
    top: 80px;
    left: 10%;
    word-break: break-word;
}

#logo {
    width: 175px;
    left: 37.5px;
    bottom: 20px;
    position: absolute;
}

.right-pane {
    background-color: #141213;
    left: 250px;
    top: 0;
    position: absolute;
    bottom: 50px;
    right: 0;
}

#nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 55px;
    margin: 0;
    padding: 0;
    padding: 20px 0;
    list-style: none;
}

#nav-bar li {
    width: 70px;
    height: 55px;
    display: block;
    text-align: center;
    cursor: pointer;
    line-height: 55px;
}

#nav-bar li i {
    background-repeat: no-repeat;

    width: 32px;
    height: 32px;
    display: block;
    margin-left: 19px;
    margin-top: 11.5px;
}

#nav-bar #settings-nav-item i {
    background: url('../img/5.png') 0 -200px;
    background-size: 32px;
}

#nav-bar #settings-nav-item:hover i {
    background: url('../img/5.png') 0 -150px;
    background-size: 32px;
}

#nav-bar #load-credits-nav-item i {
    background: url('../img/5.png') 0 -100px;
    background-size: 32px;
}

#nav-bar #load-credits-nav-item i:hover {
    background: url('../img/5.png') 0 -30px;
    background-size: 32px;
}

.control-box {
    width: 220px;
    height: 48px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.control-box i {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    display: block;
    background: url('../img/9.png');
    background-repeat: no-repeat;
    background-size: 96px 192px;
    cursor: pointer;
    float: left;
    margin-left: 4px;
}

.control-box #close {
    background-position: -48px -48px;
}

.control-box #close:hover {
    background-position: -48px -144px;
}

.control-box #max-normalize {
    background-position: 0 -48px;
}

.control-box #max-normalize:hover {
    background-position: 0 -144px;
}

.control-box #minimize {
    background-position: -48px 0;
}

.control-box #minimize:hover {
    background-position: -48px -96px;
}

.control-box #help {
    background-position: 0 0;
}

.control-box #help:hover {
    background-position: 0 -96px;
}

#content {
    position: absolute;
    right: 25px;
    top: 80px;
    left: 70px;
    bottom: 50px;
    display: block;
    overflow: hidden;
}

.card {
    background-color: #57a9df;
    width: calc(35% - 15px);
    height: 255px;
    overflow: hidden;
    margin: 10px;
    margin-right: 0;
    margin-bottom: 0;
    float: left;
    
    position: relative;
}

.card .heading {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
}
.card ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.card ul li:before {
    content: '+';
    left: -5px;
}

.thumb {
    position: absolute;
    background-color: #ff00ea;
    opacity: 0.0;
    overflow: hidden;
    display: block;
    z-index: 99999;
}

.caption { height: 25px; top: 4px; left: 150px; right: 105px; cursor: grab;}
.left-thumb { width: 4px; top: 30px; bottom: 30px; left: 0px; cursor: w-resize; }
.right-thumb { width: 4px; top: 30px; bottom: 30px; right: 0px; cursor: e-resize; }
.top-thumb { height: 4px; top: 0px; left: 30px; right: 30px; cursor: n-resize; }
.bottom-thumb { height: 4px; bottom: 0px; left: 30px; right: 30px; cursor: s-resize; }
.top-left-thumb { height: 7px; width: 7px; top: 0px; left: 0px; cursor: nw-resize; }
.bottom-left-thumb { height: 7px; width: 7px; bottom: 0px; left: 0px; cursor: sw-resize; }
.top-right-thumb { height: 7px; width: 7px; top: 0px; right: 0px; cursor: ne-resize; }
.bottom-right-thumb { height: 7px; width: 7px; bottom: 0px; right: 0px; cursor: se-resize; }

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #141213;
    z-index: 1;
}

.modal-overlay .rfid-icon {
    width: 400px;

    position: absolute;
    left: calc(50% - 400px);
    top: 20%;
}
.modal-overlay p { 
    margin: 0;
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 58%;
}

.modal-overlay .modal-footer {
    background-color: #ee9b00;
    height: 145px;
    bottom: 80px;
    left: 0;
    right: 0;
    position: absolute;
}
.modal-overlay .modal-logo {
    width: 220px;
    position: absolute;
    bottom: 40px;
    left: 150px;
}
.modal-overlay .close-button {
    width: 83px;
    height: 83px;
    background-color: red;
    position: absolute; 
    right: 50px;
    top: 31px;

    background: url('../img/9.png');
    background-repeat: no-repeat;
    background-size: 166px;
    background-position: -83px -83px;
    cursor: pointer;
}

.modal-overlay .close-button:hover {
    background-position: -83px -249px;
}

.load-credits {
    background-color: #141213;
    position: absolute;
    top: 0; left: 0; right: 0;
    bottom: 0;
}

.load-credits .nav {
    background-color: #ee9b00;
    width: 250px;
    position: absolute;
    top: 0;
    left: 100px;
    bottom: 0px;
}

.load-credits .footer {
    background-color: #fff;
    height: 145px;
    bottom: 80px;
    position: absolute;
    left: 0;
    right: 0;
}

